<h2><%= @deck.name %></h2>

<div class="flashcard">
  <%= @card.question %>
</div>

<div class="card_answer">
  <% if @guess.correct %>
    That's correct!
  <% else %>
    Sorry that's incorrect. The correct answer is: 
  <% end %>
  <span class="correct_answer"><%= @card.answer %></span>
</div>

<div class="deck_navigation">
  <% if @card == @round.cards.last %>
    <a href="/games/<%= @round.id %>"><button>View game stats</button></a>
  <% else %>
    <a href="/games/<%= @round.id %>/cards/<%= (@deck_index.to_i + 1) %>"><button>Next card</button></a>
  <% end %> 
</div>
